.name {
  font-size: 2em;
  margin: 0;
}
.desc {
}
.node {
  padding: 20px;
  margin-bottom: 10px;
  /*border: solid 1px gray;*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 5px;
}
.EON {
  margin: 0;
  text-align: center;
  font-size: 0.5em;
}

.keyword-item {
  font-family: Consolas, Courier New, Courier, monospace;
  margin: 0 5px;
  color: #FF5722;
}

.keyword-item::before {
  content: "\""
}
.keyword-item::after {
  content: "\""
}